h1 {
  font-family: "Quicksand", sans-serif;
}

.logo {
  width: 50px;
  display: inline-block;
  position: relative;
  bottom: -10px;
}

canvas {
  width: 100%;
  height: 100px;
}
.wrapper {
  width: 80%;
  margin: auto;
}

.visual {
  box-shadow: 0 0px 2px -1px rgba(0, 0, 0, 0.3), 0 0px 0px 0 rgba(0, 0, 0, 0.14),
    0 0px 4px 0 rgba(0, 0, 0, 0.12);
  padding: 0;
}

.toggleElem {
  margin-bottom: 20px;
}

.pulse {
  width: 22px;
  height: 22px;
  animation: pulse 2s infinite;
}

.sound-icon {
  margin-right: 10px;
}

.sound-icon-off {
  color: gray;
}

.sound-icon-offline {
  color: red;
}

@keyframes pulse {
  0% {
    color: rgba(0, 161, 48, 0.4);
  }
  50% {
    color: rgba(0, 161, 48, 1);
  }
  100% {
    color: rgba(0, 161, 48, 0.4);
  }
}
